@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --s: 300px;
  --c1: #14181c;
  --c2: #000;
  --c3: #222;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.7em;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  text-wrap: balance;

  background-color: #ffffff;
}

h1 {
  font-family: 'Prata', sans-serif;
}

section{
  height: min(80dvh, 800px);
  display: grid;
}

section > div {
  @apply flex flex-col justify-center items-center p-5;
}

section:nth-of-type(even) {
  @apply text-white bg-slate-950;
  background: repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s) * 0.577);
  background-attachment: fixed;
}

section i.material-icons {
  transition: all 500ms ease;
}
section:hover i.material-icons {
  scale: 1.2;
}

section h2 {
  transition: scale 500ms ease;
}
section:hover h2 {
  scale: 1.1;
}

.animation-fade-in{
  animation-timeline: view(block 90% 40%);
  animation-fill-mode: both;
  animation-duration: 1ms;
  animation-timing-function: linear;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: .8;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@media (prefers-reduced-motion) {
  .animation-fade-in {
    animation: none;
  }
}
