:root{
  --gradient-degree: 110deg;
}
body {
  font-family: system-ui, sans-serif;
  line-height: 1.7em;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  text-wrap: balance;
  background-color: #ffffff;
  text-align: center;
  color: #111;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #222222;
  border-bottom: 1px solid #ccc;

  &:hover {
    border-bottom: 1px solid #666;
    color: #404fc1;
  }

  .material-icons {
    font-size: 18px;
    line-height: initial;
    translate: 0 3px;
    animation: alternate 3s infinite pulsate;
  }
}

a:hover .material-icons {
  transition: all 0.3s;
  scale: 1.2;
}

h1 {
  font-family: 'Prata', sans-serif;
  font-size: 70px;
  line-height: 1.2;

  @media (max-width: 768px) {
    font-size: 32px;
  }
}

header {
  min-height: min(400px, 60vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 3vh;
  justify-content: space-evenly;
  overflow: hidden;
  position: relative;


  &:after{
    background-image: linear-gradient(120deg in oklab, oklch(50% 0.5 340) 0%, oklch(65% 0.19 254) 100%);
    animation: alternate 3s infinite rotate-deg;
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    inset: calc(90svw* -1);
  }

  @media (max-width: 768px) {
    min-height: auto;
    padding-top: 24px;
  }

  img {
    width: 150px;
    height: 162px;

    animation: alternate 20s infinite pulsate;

    @media (max-width: 768px) {
      width: 100px;
      height: 108px;
    }
  }
}
main {
  justify-items: center;
  margin-bottom: 120px;

  @media (max-width: 768px) {
    margin-bottom: 180px;
    min-height: calc(70dvh);
  }

  p {
    background-color: white;
    max-width: 42ch;
    padding: 16px 32px 0;
    text-align: left;

    @media (max-width: 768px) {
      text-align: center;
      margin: 0;
      font-size: 19px;
      padding: 16px 32px 32px;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  @media (max-width: 768px) {
    gap: 12px;
  }

  a {
    color: white;
  }
}

@keyframes rotate-deg {
    to {
      rotate: 360deg
    }
}

@keyframes pulsate{
  0%{
    scale: 1;
  }
  50%{
    scale: 1.05;
    rotate: 5deg;
  }
  100%{
    scale: 1;
  }
}
