body {
  font-family: system-ui, sans-serif;
  line-height: 1.7em;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  text-wrap: balance;
  background-color: #ffffff;
  text-align: center;
  color: #111;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #222222;
  border-bottom: 1px solid #ccc;

  &:hover {
    border-bottom: 1px solid #666;
    color: #404fc1;
  }

  .material-icons {
    font-size: 18px;
    line-height: initial;
    translate: 0 3px;
    animation: alternate 3s infinite pulsate;
  }
}

a:hover .material-icons {
  transition: all 0.3s;
  scale: 1.2;
}

h1 {
  font-size: clamp(70px, 10vw, 120px);
  line-height: 1.2;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  margin: 0;
}

header {
  min-height: max(200px, 60vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(-120deg in oklab, oklch(50% 0.5 340) 0%, oklch(65% 0.19 254) 100%);
}

main {
  justify-items: center;
  margin-bottom: 120px;

  @media (max-width: 768px) {
    margin-bottom: 180px;
    min-height: calc(70dvh);
  }

  p {
    background-color: white;
    max-width: 42ch;
    padding: 16px 32px 0;
    text-align: left;

    @media (max-width: 768px) {
      text-align: center;
      margin: 0;
      font-size: 19px;
      padding: 16px 32px 32px;
    }
  }
}

li{
  text-align: left;
}

li::marker{
  color: rgba(0,0,0,0.5);
  font-size: 12px;
}

footer {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  @media (max-width: 768px) {
    gap: 12px;
  }

  a {
    color: white;
  }
}

@keyframes pulsate{
  0%, 100% {
    scale: 1;
  }
  50% {
    scale: 1.05;
    rotate: 5deg;
  }
}
